<div class="section">
  <div class="wrapper">
    <div class="center">
      <div class="sign-card cf">
        <%= render 'form', store: @store %>
        <br>

        <%= link_to 'Back', stores_path %>
      </div>
    </div>
  </div>
</div>
