


<ul class="categories cf">
  <li>

    <%= image_tag("man.jpg", :alt => "Men's Category") %>
    <div class="category-info">
      <h2 class="header">Men</h2>
    </div>
  </li>
  <li>
    <%= image_tag("women.jpg", :alt => "Women's Category") %>
    <div class="category-info">
      <h2 class="header">Women</h2>
    </div>
  </li>
</ul>
<div class="interest cf">
  <h2>Step into claeus - The online fashion Marketplace.</h2>
  <p>claeus is the one-stop online destination for all your wardrobe needs. Claeus is inspired by creativity and street scene, we offer weareable fashion at pocket-friendly prices- right to your doorstep.</p>
</div>
