<section>
  <div class="wrapper">
    <header class="cf">
      <a href="#" class="logo">Claeus</a>
      <nav>
        <input type="search" placeholder="Search Brands, Products...">
        <a href="#">Log In</a>
        <a href="#" class="">Join</a>
        <a href="#">Cart(0)</a>
      </nav>
    </header>
  </div>
</section>
